// reset
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #1a1e26;
  min-height: 100vh;

  font-family: "Roboto", sans-serif;
}

// header
header {
  display: flex;
  place-content: center;
  margin-block-end: 50px;
  padding: 1rem;
}
h1 {
  padding: 2rem;
  font-size: 3rem;
  color: #ffffff;
}

// main
main {
  display: grid;
  place-content: center;
  margin-block-start: 4rem;
}

//  calculator
.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #323640;
  align-items: center;
  padding: 30px;
  width: 370px;
  height: auto;
  border-radius: 15px;
  gap: 36px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  filter: drop-shadow(0 0 0.75rem #1a1616);
}

//    monitor
.monitor {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #ffffff;
  width: 320px;
  height: 70px;
  font-weight: 700;
  font-size: 20px;
  padding: 11px;
  border-radius: 13px;
  .display-top {
    font-size: 16px;
    font-weight: lighter;
    flex: 1;
  }
  .display-bottom {
    flex: 1;
  }
}
//    operations
.operations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  .btn--equal {
    grid-row: 4/6;
    grid-column: 4/5;
    border-radius: 11px;
    height: auto;
  }
  .btn--equal:hover {
    transform: scale(1.05);
  }
  .btn--equal:active {
    transform: translate(0, 3px);
  }
}
.btn {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #fcf6eaeb;
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 27px;
  font-weight: 700;
  padding: 0;
  color: #202026;
  transition: scale 0.5s ease-out, scale 0.2s ease-in;
  box-shadow: 1px 7px 7px #202026;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: translate(0, 6px);
  }
}
